<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    {% if num_fact and year_fact%}
        <p>{num_fact}</p>
        <p>{year_fact</p>
    {% endif %}
    <form method="POST">
        {{ form.hidden_tag() }}

        {% for field in form 
            if field.widget.input_type != 'hidden'%}
        <p>
            {{ field.label }}
            {{ field(class_="form-control") }}

            {% for error in field.errors %}
            <span class="form-text text-danger"> {{ error }} </span>
            {% endfor %}
        </p>
        {% endfor %}

        <button class="btn btn-success" type="submit">I Want To Feel Lucky</button>
    </form>
    </div>
</body>
</html>